# Build artifacts
WinTab
WinTabBin
WinTab.app
*.dmg

# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
.build/

# macOS
.DS_Store
